html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #C1839F;
}
.hidden {
  display: none;
}
.wrapper {
  width: calc 96vh;
  padding: 0 2vw;
  height: calc(100vh - 4vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #C1839F;
  position: relative;
}
.wrapper .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57A0A8;
}
.wrapper .circle img {
  width: 90px;
  height: auto;
}
.wrapper #res-wrapper {
  max-width: 70vw;
  text-align: center;
}
.wrapper .text-result {
  font-size: 3em;
}
.wrapper #result {
  color: white;
}
.wrapper .button {
  width: 200px;
  height: 45px;
  border: 2px dotted #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.wrapper .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #C1839F;
}
.wrapper .input-wrapper span {
  font-size: 3em;
}
.wrapper .input-wrapper input {
  width: 55px;
  height: 10vh;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3em;
  border: none;
  color: white;
  text-align: center;
  background-color: #C1839F;
  padding: 0 20px;
}
.wrapper .input-wrapper input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}
.wrapper .input-wrapper input[type=number]::-webkit-outer-spin-button,
.wrapper .input-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper .input-wrapper input[type=number] {
  -moz-appearance: textfield;
}
.wrapper .modal {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 70%;
  z-index: 3;
  background-color: #C1839F;
  border: 3px dotted #944a6b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  flex-direction: column;
}
.wrapper .modal span {
  text-align: center;
  font-size: 1.5em;
}
.wrapper .modal img {
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
footer {
  height: 4vh;
  background-color: #C1839F;
  color: #82596C;
  font-size: 0.8em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 85px;
  margin: 0;
}
footer a,
footer a:visited {
  color: #CE51B7;
}
footer a:hover {
  color: #704777;
}
footer img {
  position: absolute;
  z-index: 2;
  top: -56px;
  right: 0;
  width: 85px;
  height: auto;
  margin: 0;
  transform: rotateY(180deg);
  pointer-events: none;
}
@media only screen and (max-width: 600px) {
  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: auto;
  }
  footer img {
    pointer-events: auto;
  }
  footer span {
    display: none;
  }
}
